.p-dialog .p-dialog-header {
    background: var(--primary-color);
    color: var(--primary-color-text);
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    color: var(--primary-color-text);
}

.p-dialog .p-dialog-content {
    background: var(--surface-card);
    color: var(--text-color);
    padding: 1.5rem;
}

.dialog-size-small {
    width: 25vw;
}

.dialog-size-medium {
    width: 35vw;
}

.dialog-size-large {
    width: 50vw;
}

.p-toast-detail {
    white-space: pre-line;
}
